
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.grey-box {
  width: 100%;
  background-color: #BFBFBF;
  padding-top: 10px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}
  
.smooth-button {
    background-color: white;
    color: black;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  }

.smooth-button:hover {
    background-color: #357ABD;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

.footer-link {
  font-size: 0.75em;
  text-align: right;
  padding-right: 20px;
  margin-top: 10px;
  color: #555;
}

.footer-link a {
  color: #555;
  text-decoration: underline;
  font-weight: bold;
}

.footer-link a:hover {
  text-decoration: underline;
  color: #000;
}
